<app-navbar></app-navbar>

<div class="fullscreen-container mt-lg-5 p-3 flex-row">
  <div class="row">
    <div class="col-md-8 body1">
      <div class="content-tex">
        <ul class="list-group">
          <li  class="list-group-item">

            <a  class="btn btn-lg btn-primary" href="" role="button">Ver</a>
          </li>
        </ul>
        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title">
               Inserte
            </div>
          </div>

        </div>
        <button class="btn btn-dark">
          Ver
        </button>
        <div>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Autem illo accusantium rerum.</p>
      </div>
    </div>
    <div class="col-md-4 body2">
      <div class="content-text">
        <img class="img-campo" src="../../../assets/img/campo-de-futbol.png" alt="">
      </div>
    </div>
  </div>
</div>


